<!--

{% extends 'myapp/base.html' %}

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <style>
        p.ex1  {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 25ch;
        }
    </style>
</head>
<body>
    










{% block content %}
<h1 class="text-center">Product List</h1>
<div class="container">
    {% if product_list %}
    <div class="row">


        {% for p in product_list %}
        <div class="col-xl-3">
            <div class="card" >
            <!-- <img class="card-img-top" src="https://dummyimage.com/200x150.jpg?text={{ p.name }}" alt=""> -->
                <img src="{{p.image}}" alt="" width="255" height="200">
                <div class="card-body">
                    <h4 class="card-title">{{ p.name }}</h4>
                    <h4 class="card-title">${{ p.price }}</h4>
                   

                    
                    
 
                </div>

                <!--
                <div>
                    <p class="ex1">{{ p.description }}</p>      
                </div>
                -->


                <div>
                    <p class="ex1">{{ p.home_page_description }}...</p>      
                </div>

                <div class="card-footer d-flex">
                    <a href="{% url 'detail' id=p.id %}" class="btn btn-primary ml-auto">Details</a>
                    <a href="{% url 'detail' id=p.id %}" class="btn btn-success ml-auto">Buy Now</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    {% else %}
    <div class="alert alert-info text-center mt-5">
        The product list is empty. Please add some products first.
    </div>
    {% endif %}
</div>
{% endblock content %}



</body>
</html>
