<!DOCTYPE html>
<html>
<head>
	<title>TRANSLATOR APP</title>
</head>
<body>
<form method="post">
	{% csrf_token %}
    <label>Write an English word or sentence to be translated:</label><br><br>
	<input type="text" name="translate" required>
	<br>
    <br>
    <label>Select the language you want to translate into, and then click the "translate" button:</label>
    <br>
    <br>
	<select required name="language">
		<option value="Spanish">Spanish</option>
		<option value="Italian">Italian</option>
		<option value="German">German</option>
        <option value="Portuguese">Portuguese</option>
		<option value="French">French</option>
		<option value="Japanese">Japanese</option>
        <option value="Turkish">Turkish</option>
		<option value="Korean">Korean</option>
		<option value="Arabic">Arabic</option>
        <option value="Norwegian">Norwegian</option>
		<option value="Swedish">Swedish</option>
		<option value="Finnish">Finnish</option>
	</select>
	<br>
    <br>
	<button type="submit">Translate</button>
</form>
</body>
</html>
