<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shop</title>
</head>
<body>
    <div class="grid place-items-center h-screen">
        <div class="font-bold text-6xl">Payment Failed</div>
        <a class="bg-green-500 font-bold text-white px-4 py-2" href="{% url 'index' %}" download>Go back to the homepage</a>
    </div>
</body>
</html>